@charset "UTF-8";

/*
paleta de cores
verde: #49a09d
Lilás #5f2c82
*/

html, body {
    background: #88a5a2;
    padding: 0;
    margin: 0;
    
}

img.fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;                     /* ajusta a opacidade da imagem de fundo */
    background-color: #0980c0b6;
    
}

body{
  width: 100%;
  height: 100%;
}



section#login {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;              /* bordas arredondadas */
    overflow: hidden;                /* esconde o conteúdo que ultrapassa os limites do elemento */
    box-shadow: 5px 4px 9px 2px rgba(0, 0, 0, 0.3); /* sombra para dar profundidade */
}
   
 div#imagem{
    width: 290px;                     /* largura da imagem */
    height: 120px;                    /* altura da imagem */
    background-image: url('../imagens/metal.jpg');
                    
    background-size: cover;  
    background-position: right;      
             
    
    
}


section > div#formulario{
    background: rgb(240, 240, 240);
    padding: 20px;                    /* espaço interno */
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 250px;                     /* largura do formulário */
    height: 200px;                    /* altura do formulário */
    
}

form{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  font-family: open sans, sans-serif;
  font-size: 15px;
}

h1{
  align-items: center;
  font-size: medium;
  font-family: open sans, sans-serif;
}



button {
  background: rgb(163, 158, 158);
  color: white;
  border: solid rgba(0, 0, 0, 0.158) 1px;
  padding: 10px 20px;
  cursor: pointer;
  
}

button:hover {
  background: #49a09d;
}
