@charset "UTF-8";

/*
paleta de cores
verde: #49a09d
Lilás #5f2c82
*/

* {
    background: #5f2c82;
}

section > div#formulario{
    background: white;
    width: 300px;       /* largura fixa */
    padding: 20px;      /* espaço interno */
    border-radius: 10px; /* cantos arredondados */
    display: flex;
    align-items: center;
    justify-content: center;

    
}



button {
  background: rgb(163, 158, 158);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: center;
  flex-direction: column;
}

button:hover {
  background: #49a09d;
}
